<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subscription Service for Dietary Plans</title>
    <link rel="stylesheet" th:href="@{../Images/css/homepage.css}">
</head>
<body>

<header>
    <a href="/login">Log ind</a>
</header>
<div class="image-container-logo">
    <img src="../Images/minkostplan-logo.png" alt="Min Kostplan logo">
</div>
<div class="image-container">
    <img src="../Images/Kostplan-ret.png" alt="En lækker ret :)">
</div>
<div class="container">
   <h1>Din billige vej til en skræddersyet kostplan</h1>
    <h2>Prøv de første 30 dage gratis</h2>
    <h3>Få ugentlige kostplaner, skræddersyet til dine mål i de første 30 dage til 0 kr, helt uden binding. Herefter kun 49 kr. om ugen</h3>
</div>
<div class="container2">
    <h1>Den billige løsning til at opnå din drømmekrop</h1>
    <h3>Minkostplan.com giver dig skræddersyede kostplaner, som du kender dem. Bare langt billigere.</h3>
    <h3>Hver uge giver vi dig 21 nye opskrifter fordelt på dagens tre måltider.</h3>
    <h3>Alle opskrifter er skræddersyet efter dine mål og ønsker for at opnå den krop, du drømmer om.</h3>
    <h3>Alt sammen til kun DKK 49,00 om ugen</h3>
</div>


</body>
</html>
